* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}


/*navbar*/
#navbarNavAltMarkup .nav-link, .navbar-toggler-icon {
	color: #FFFFFF !important;
}

/*Landing Page*/

#pictko {
    
    width: 300px; 
    height: 300px;
    object-fit: cover; 
    border: 5px solid rgba(0, 123, 255, 0.5); 
    box-shadow: 0 4px 10px rgba(0,0,0,.2);
}

@media (max-width: 767.98px) {
    #pictko {
        width: 180px;
        height: 180px;
    }
}
#landingbg {
	min-height: 100vh; 
}

#landing {
	background: url(./images/wall8.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	filter: blur(0.2px) contrast(105%)

}
#landing a{
	text-decoration: none;
}

#landing div h1, #landing div p{
	color: floralwhite;
}

/*My Projects*/

#projects img {
	aspect-ratio: 16/9;
}
/*#projects {
	background: url(./images/wall8.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
*/
#projectAlbum {

	background-color: rgba(65, 105, 225, 0.25);
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
	border: 1px solid rgba(255, 255, 255, 0.18);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
	border-radius: 5px;
}

/*Tools*/

#tools img {
	max-width: auto;
	max-height: 150px;
}
/*#tools {
	background-color: #6AB0F7;
	background-repeat: no-repeat;
	background-size: cover;
}*/

/*Contacts*/
#contact {
	background: url(./images/wall9.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
form p, #contact div h2 {
	color: white !important;
}